* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    // font-size: 62.5%;
    overflow-x: hidden;
}

body {
    scroll-behavior: smooth;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: $font;
    // @include font-size(16);
    color: $text-color;
    background: $color-primary-5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

#app {
    padding-top: 58px;
    overflow: hidden;
}

img {
    max-width: 100%;
    vertical-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-primary-1;
}

h3 {
    margin: 1.5em 0 0.5em 0;
    text-align: center;
}

pre {
    display: inline;
    font-size: 100%;
}

hr {
    border-top: 1px solid rgba($color-primary-1, 0.2);
}

.form-control:focus {
    border-color: $color-primary-4;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba($color-primary-4, 0.25);
}

.section {
    position: relative;
    padding: 80px 0;

    &--full {
        min-height: calc(100vh - 58px - 56.5px);

        @media screen and (max-width: 511px) {
            min-height: calc(100vh - 56px - 83px);
        }
    }

    @media screen and (max-width: 767px) {
        padding: 40px 0;
    }

    &__title {
        text-align: center;
        margin-bottom: 1.5em;
    }
}

.mb--2 {
    margin-bottom: 2em;
}

.f-right {
    float: right;
}

.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

.result {
    max-width: 1600px;
    &__box {
        padding: 0 2%;
    }
}

.form-control-range {
    direction: rtl;
}

.btn-green {
    background-color: $color-primary-4;
    color: $color-primary-1;

    &:hover {
        background-color: darken($color-primary-4, 10%);
        color: $color-primary-1;
    }
}