.navbar {
    background-color: $color-primary-1;

    &-brand {
        font-family: $font-code;
        font-weight: 300;
    }

    .divider {
        color: #fff;
        margin-right: 0.5em;

        @media screen and (max-width: 991px) {
            display: none;
        }
    }
}
