.navbar {
    background-color: $color-primary-1;

    &-brand {
        font-family: $font-code;
        font-weight: 300;
    }

    .router-link-exact-active {
        color: #fff !important;
    }

    .divider {
        color: #fff;
        margin-right: 0.5em;

        @media screen and (max-width: 1339px) {
            display: none;
        }
    }
}

@media screen and (min-width: 1340px) {
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex !important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}
