.person {
    padding: 2rem 1rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 7px 9.5px 10px 0 rgba(21, 30, 67, 0.03);

    @media screen and (max-width: 767px) {
        margin-bottom: 2em;
    }

    &__name {
        margin-bottom: 0.5em;
        font-size: 1.2rem;
        color: $color-primary-1;
        font-weight: bold;
    }

    &__email {
        text-decoration: none;
        color: $color-primary-1;
        font-weight: bold;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: darken($color-primary-2, 15%);
            text-decoration: none;
        }
    }
}
