.table-wrapper {
    width: 100%;
    background: #fff;
    box-shadow: 7px 9.5px 10px 0 rgba(21, 30, 67, 0.03);
    overflow: auto hidden;
}

.table {
    width: 100%;
    text-align: center;

tr {
    &:hover {
        background-color: rgba($color-primary-1, 0.1);
    }
}

    th {
        color: $color-primary-1;
        border-bottom: 1px solid $color-primary-1;
    }

    td {
        border: none;
    }
}